<mat-card>
    <mat-card-title>Rejestracja</mat-card-title>
    <mat-card-content>
      <form (ngSubmit)="onSubmit()">
        <mat-form-field appearance="outline">
          <mat-label>Email</mat-label>
          <input matInput type="email" [(ngModel)]="email" name="email" required placeholder="wpisz@email.com">
        </mat-form-field>
  
        <mat-form-field appearance="outline">
          <mat-label>Hasło</mat-label>
          <input matInput type="password" [(ngModel)]="password" name="password" required placeholder="min. 6 znaków">
        </mat-form-field>
  
        <div class="form-actions">
          <button mat-flat-button color="primary" type="submit" [disabled]="isLoading()">
            <mat-spinner *ngIf="isLoading()" diameter="20" style="display: inline-block; margin-right: 8px;"></mat-spinner>
            <span>Zarejestruj się</span>
          </button>
        </div>
  
        <div *ngIf="errorMessage()" class="error-message">
          {{ errorMessage() }}
        </div>
      </form>
    </mat-card-content>
    <mat-card-footer>
        <p class="switch-form-link">
          Masz już konto? <a routerLink="/login">Zaloguj się</a>
        </p>
    </mat-card-footer>
  </mat-card>